.main-chat
    .right-header
        .right-header__group
            .right-header__group-name
                = @group.name
            %ul.right-header__member-list
                Member :
                - @group.users.each do |user|
                    %li.right-header__member
                        = user.name
        = link_to edit_group_path(@group.id), {class:"right-header__edit-btn"} do
            Edit
    .message-list
        = render @messages
    .message-form
        = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
            .input-box
                = f.text_field :content, class: 'form-content', placeholder: 'type a message'
                = f.label :image, class: 'img' do
                    = icon('far', 'image', class: 'icon')
                    = f.file_field :image, class: 'img-file'
            = f.submit 'Send', class: 'form-btn'
